<!DOCTYPE html>
<html>
  <head>
    <title>ProductsWithActiveAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <ul>
      <li> <%= link_to 'Produtos', products_path %> </li>
      <li> <%= link_to 'Categorias', categories_path %> </li>
    </ul>
    <%= yield %>
  </body>
</html>
